@import url(reset.css);
.container,
body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.container header {
  width: 100%;
  height: 0.93rem;
  background: #f94557;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.container header a img {
  width: 0.35rem;
  margin-left: 0.39rem;
  margin-top: 0.3rem;
}
.container header p {
  font-size: 0.37rem;
  color: #fff;
  -webkit-box-flex: 1;
  margin-left: 2.6rem;
  margin-top: 0.28rem;
}
.container section {
  background: #f3f3f3;
  -webkit-box-flex: 1;
  position: relative;
}
.container section .list {
  width: 100%;
  height: 3.5rem;
  background: #ffffff;
  margin-top: 0.1rem;
}
.container section .list .top {
  width: 100%;
  height: 0.9rem;
  background: full;
  border-bottom: 1px solid #f8f8f8;
}
.container section .list .top span {
  color: #333333;
  font-size: 0.3rem;
  margin-top: 0.2rem;
  margin-left: 0.37rem;
}
.container section .list .top i img {
  width: 0.15rem;
  margin-left: 5.37rem;
  margin-top: 0.2rem;
}
.container section .rad {
  width: 6.71rem;
  height: 0.86rem;
  background: #f9384b;
  position: absolute;
  left: 0.4rem;
  top: 6.16rem;
  border-radius: 0.14rem;
  text-align: center;
}
.container section .rad a {
  color: #fff;
  font-size: 0.32rem;
  line-height: 0.86rem;
}
.zdex {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}
.zdex .sure {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -3.8rem;
  left: 50%;
  margin-left: -2.2rem;
}
.zdex .sure .top-a {
  width: 4.5rem;
  height: 1.45rem;
  background: full;
}
.zdex .sure .top-a p {
  color: #9a9a9a;
  font-size: 0.3rem;
  text-align: center;
  line-height: 1.45rem;
}
.zdex .sure .top-b {
  width: 4.5rem;
  height: 0.87rem;
  background: full;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.zdex .sure .top-b .sd {
  color: #9a9a9a;
  -webkit-box-flex: 1;
  font-size: 0.3rem;
  margin-top: 0.17rem;
  margin-left: 0.77rem;
  line-height: 0.87rem;
}
.zdex .sure .top-b .cd {
  color: #ffb871;
  font-size: 0.3rem;
  -webkit-box-flex: 1;
  margin-top: 0.17rem;
  margin-left: 1.76rem;
  line-height: 0.87rem;
}
.zdex1 {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
}
.zdex1 .input {
  display: block;
  text-align: center;
  margin-left: 1rem;
  border: none;
  font-size: 0.22rem;
  border-bottom: 0.01rem  solid #fcc479;
}
.zdex1 .sure {
  width: 4.5rem;
  height: 2.4rem;
  background: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -3.8rem;
  left: 50%;
  margin-left: -2.2rem;
}
.zdex1 .sure .top-a {
  width: 4.5rem;
  height: 1.45rem;
  background: full;
}
.zdex1 .sure .top-a p {
  color: #9a9a9a;
  font-size: 0.3rem;
  text-align: center;
}
.zdex1 .sure .top-b {
  width: 4.5rem;
  height: 0.87rem;
  background: full;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.zdex1 .sure .top-b .sd {
  color: #9a9a9a;
  -webkit-box-flex: 1;
  font-size: 0.3rem;
  margin-top: 0.17rem;
  margin-left: 0.77rem;
  line-height: 0.87rem;
}
.zdex1 .sure .top-b .cd {
  color: #ffb871;
  font-size: 0.3rem;
  -webkit-box-flex: 1;
  margin-top: 0.17rem;
  margin-left: 1.76rem;
  line-height: 0.87rem;
}
